@font-face {
	font-family: 'Impact' , sans-serif;
	src: url(/fonts/impact.woff2);
}

html{
	box-sizing: border-box;
}


*,
*::before,
*::after{
	box-sizing: inherit;
}

a{
	color: inherit;
	text-decoration: none;
}

li{
	list-style: none;
}
img{
 max-width: 100%;
}

.big-container{
	padding: 0 10px;
	margin: 0 auto;
	max-width: 1220px;
}
.container{
	padding: 0 10px;
	margin: 0 auto;
	max-width: 920px;
}
body{
	font-family: 'Roboto Condensed', sans-serif;
	color: #040404;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
}
.header{
padding-top: 25px;
position: absolute;
left: 0;
right: 0;
background:linear-gradient(180deg, #D8D4CA 0%, rgba(217, 215, 212, 0.330214) 66.98%, rgba(217, 217, 217, 0) 100%);
}

.nav{
	display: flex;
	justify-content: space-between;
}
.menu-list{
	display: flex;
	gap:0 40px;
	padding-top: 25px;
}

.menu-left{
padding-left: 25px;
}

.menu-right{
padding-right: 80px;
}

.menu-link{
	color: #363636;
	font-size: 16px;
}
.logo{
	width: 105px;
	height: 95.7px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.promo{
	background-image: url(/img/Promo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}
.promo-inner{
	padding-top: 110px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	text-align: center;
	
}
.title {
	font-family: 'Impact' , sans-serif;
	font-weight: 400;
	font-size: 76px;
	letter-spacing: 0.02em;
	margin-bottom: 10px;
}
.subtitle {
	font-family: 'Impact' , sans-serif;
	font-weight: 400px;
	font-size: 48px;
	border-bottom: 1px solid #040404;
	margin-bottom: 10px;
	align-self: center;
}
.subtitle span{
	display: block;
	font-size: 34px;
	color: #9f6b08;
	padding: 10px 0;
}
.promo-text {
	color: #363636;
	font-size:16px;
	margin-bottom: 10px;
}
.promo-arrow{
	margin-top: auto;
	margin-bottom: 30px;
	align-self: center;
}
.info{
	margin-bottom: 100px;
}
.info-part{
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}

.info-title{
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 300;
	font-size: 32px;
}
.part-1{
	display: block;
}

.part-3{
	padding-top: 66px;
}

.info-part-textbox{
	display: flex;
	justify-content: space-between;
	gap: 0 20px;
}

.info-text{
	flex-basis: 440px;
	margin-bottom: 30px;
}

.info-part-img{
	object-fit: cover;
}

.info-content{
	flex-basis: 415px;
}

.part-2 .info-text{
	max-width: 352px;
}    
.part-3 .info-text{
	max-width: 377px;
}

.info-table{
	flex-basis: 450px;
	border-bottom: 1px solid #040404;
	position: relative;
	top: 20px;
}

.info-table::before{
	content: '';
	border-top: 1px solid #040404;
	position: absolute;
	width: 100%;
	top: -20px;
}

.info-table td{
	padding-bottom: 20px;
}
.track{
	background-image: url(/img/track-back-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}
.track-title,
.track-text{
	font-family: 'Roboto Condensed';
}

.track-inner{
	display: flex;
	flex-direction: column;	
	min-height: 100vh;
}

.track-title{
	padding-top: 50px;
	padding-bottom: 30px;
	font-weight: 300;
	font-size: 32px;
	text-transform: uppercase;
}

.track-text{
	max-width: 435px;
	font-weight: 400;
	font-size: 14px;
}

.track-img{
	margin: auto auto 90px auto;
}

.evo{
	font-size: 14px;
	margin-bottom: 100px;
}
.evo-black{
	background-color: #363636;
	padding: 100px 0 50px;
	color: #fff;
}

.evo-black_inner{
	position: relative;
}

.evo-black_inner::before{
	position: absolute;
	content: '';
	background-image: url(/img/dec-1.svg);
	width: 185px;
	height: 213px;
	top: 170px;
	left: -142px;
}

.evo-black_inner::after{
	position: absolute;
	content: '';
	background-image: url(/img/dec-2.svg);
	width: 498px;
	height: 572px;
	top: 260px;
	left: -41px;		
}

.evo-black_info{
	display: flex;
	justify-content: space-between;
}

.evo-black_infobox{
	flex-basis: 437px;
}
.evo-black_title{
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 300;
	padding-right: 50px;
}

.evo-black_text{
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 30px;
}

.evo-black_img{
	display: block;
	margin: 170px auto 58px;
	position: relative;
	z-index: 1;
}

.evo-descr_list{
	display: flex;
	justify-content: center;
	gap: 0 65px;
}

.evo-descr_list dd{
	text-transform: uppercase;
}

.evo-white_inner{
	padding-top: 125px;
	position: relative;
}

.evo-white_inner::before{
	position: absolute;
	content: '';
	background-image: url(/img/dec-3.png);
	width: 274px;
	height: 257px;
	top: -23px;
	left: 364px;
}

.evo-white_inner::after{
	position: absolute;
	content: '';
	background-image: url(/img/dec-4.png);
	width: 324px;
	height: 311px;
	top: 119px;
	left: 584px;
}

.evo-white_text{
	margin-bottom: 30px;
}

.evo-white_text:first-child{
	max-width: 285px;
}

.evo-white_text:nth-child(2){
	max-width: 437px;
}

.evo-white_text:nth-child(3){
	max-width: 590px;
}

.evo-video{
	margin-top: 100px;
	background-image: url(/img/evo-video.png);
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	height: 264px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.video-link span{
	display: block;
	color: #fff;
}
.blog{
	margin-bottom: 100px;
}

.blog_title{
	font-weight: 300;
	font-size: 32px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.blog_item-img{
	margin-bottom: 20px;
}

.blot_item-title{
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 10px;
	min-height: 46px;
}

.blog_item-text{
	margin-bottom: 10px;
}

.blog_item-link{
	font-size: 12px;
	color: #363636;
}

.blog_slider{
	position: relative;
	padding-top: 50px;
	margin-bottom: 100px;
}

.blog-button {
	position: absolute;
	top: 0;
	cursor: pointer;
	left: 50%;
}

.swiper-button-left{
	transform: translateX(-42px);
}

.swiper-button-right{
	transform: translateX(10px);
}

.blog_qoute{
	display: flex;
	justify-content: space-between;
	gap: 0 20px;
}

.blog_qoute-box{
	flex-basis: 434px;
}

.blockquote{
	margin-bottom: 30px;
}

.blockquote-name{
	font-weight: 700;
	margin-bottom: 10px;
}

.blockquote-name span{
	display: block;
	font-size: 12px;
	color: #9F6B08;
	margin-bottom: 3px;
}

.blockquote_text{
	font-style: italic;
}

.footer{
	padding: 100px 0 80px;
	background-color: #363636;
	color: #fff;
}

.footer-title{
	text-transform: uppercase;
	font-weight: 300;
	font-size: 32px;
	margin-bottom: 50px;
}

.footer-top{
	display: flex;
	justify-content: space-between;
	gap: 0 20px;
}

.footer-info_item{
	margin-bottom: 40px;
}

.footer-info_item dt,
.footer-address_title{
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.footer-info_item dd{
	margin-bottom: 10px;
}

.footer-map{
	flex-basis: 462px;
}

.social_list{
	display: flex;
	gap: 0 20px;
	align-items: center;
}

.footer-address-text{
	font-size: 16px;
	margin-bottom: 20px;
}

.footer-bottom{
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#map{
	height: 250px;
}

.menu-mobile,
.menu-btn{
	display: none;
}

@media(max-width: 1100px) {
	.promo{
		background-position: left center;
	}
	.menu-list{
		display: none;
	}
	.menu-mobile{
		display: flex;
		gap: 0 20px;
	}
	.logo-img{
		width: 70px;
	}
	.nav{
		align-items: center;
	}
	.title{
		font-size: 64px;
	}
	.subtitle{
		font-size:42px
	}
	.subtitle span{
		font-size:32px;
	}
	.menu-link{
		font-size: 14px;
	}
}

@media(max-width:969px){
	.evo-white_inner::after{
		display: none;
	}
}

@media(max-width:840px){
	.menu-btn{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 45px;
		height: 30px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		z-index: 10;
	}
	.menu-btn span{
		height: 3px;
		width: 100%;
		background-color: white;
	}
	.menu-mobile{
		display: none;
	}	
	.menu-mobile.menu-open{
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: black;
		height: 100vh;
		z-index: 5;
		text-align: center;
		padding-top: 140px;
	}
	.menu-link{
		color: #fff;
		font-size: 3vh;
		display: block;
		padding: 20px 0;
	}
	.logo{
		z-index: 10;
	}
	.info-part-textbox{
		display: block;
		padding-bottom: 15px;
	}
	.info-part{
		display: block;
		margin-top: 50px;
	}
	.part-2 .info-text,
	.part-3 .info-text{
		max-width: 100%;
	}
	.info-table{
		min-width: 100%;
	}
	.info-part-img{
		width: 100%;
	}
	
}

@media(max-width:768px){
	.blog_qoute{
		flex-direction: column;
	}
	.blog_qoute-box{
		flex-basis: auto;
	}
	.blog_qoute-img{
		order: -1;
	}
	.blog_item-img{
		width: 100%;
	}
	.blog,
	.blog_slider{
		margin-bottom: 50px;
	}
	.footer{
		padding: 50px 0;
	}
	.evo-white_inner{
		margin-top: -60px;
	}
}

@media(max-width:669px){
	.evo-white_inner::before{
		display: none;
	}
	.evo-descr_list{
		display: block;
		text-align: center;
	}
	.evo-descr_list div{
		margin-bottom: 15px;
	}
	.evo-black_info{
		display: block;
	}
	.evo-black_title{
		margin-bottom: 20px;
	}
	.footer-top{
		display: block;
	}
}

@media(max-width:560px){
	.title{
		font-size: 42px;
	}
	.subtitle{
		font-size:30px
	}
	.subtitle span{
		font-size: 26px;
	}
	.info-table td:nth-child(2){
		padding-left: 5px;
		padding-right: 5px;
	}
	.evo-black_inner::after{
		display: none;
	}
}

@media(max-width:480px){
	.footer-bottom{
		flex-direction: column;
		text-align: center;
	}
	.footer-logo-img{
		padding: 20px 0;
	}
}

@media(max-width:340px){
	.menu-link{
		padding: 15px 0;
	}
}

